NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5aXZ1dGRkaGFndXdhcmltcG52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMjk4MjUsImV4cCI6MjA5MTkwNTgyNX0.qRjYdZVoacEoUVyG2Y6nwG9lNu1BcEoCAdeFVHY9454
NEXT_PUBLIC_SUPABASE_URL=https://kyivutddhaguwarimpnv.supabase.co